In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import chi2, SelectKBest

In [2]:
df = pd.read_csv('./data/ad.data', header=None)

In [3]:
df.shape

(3279, 1559)

In [4]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,1549,1550,1551,1552,1553,1554,1555,1556,1557,1558
0,125,125,1.0000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
1,57,468,8.2105,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
2,33,230,6.9696,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
3,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.
4,60,468,7.8000,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ad.

In [5]:
X = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3, random_state=0)

In [7]:
model1 = GaussianNB()
model1.fit(X_train, y_train)
previsions1 = model1.predict(X_test)

In [8]:
print(accuracy_score(y_test,previsions1)) #comparação do que de fato aconteceu com as previsões do modelo

0.7764227642276422

### Seleção de atributos

In [9]:
selection = SelectKBest(chi2, k=7) #k = numero de atributos
X2 = selection.fit_transform(X, y)

In [10]:
X2.shape

(3279, 7)

In [12]:
X2

array([[125.    , 125.    ,   1.    , ...,   1.    ,   0.    ,   1.    ],
       [ 57.    , 468.    ,   8.2105, ...,   1.    ,   0.    ,   0.    ],
       [ 33.    , 230.    ,   6.9696, ...,   0.    ,   0.    ,   0.    ],
       ...,
       [ 23.    , 120.    ,   5.2173, ...,   0.    ,   0.    ,   0.    ],
       [  0.    ,   0.    ,   0.    , ...,   0.    ,   0.    ,   0.    ],
       [ 40.    ,  40.    ,   1.    , ...,   0.    ,   0.    ,   0.    ]],
      shape=(3279, 7))

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X2,y, test_size = 0.3, random_state=0)

In [14]:
model2 = GaussianNB()
model2.fit(X_train, y_train)
previsions2 = model2.predict(X_test)

In [15]:
print(accuracy_score(y_test,previsions2)) #comparação do que de fato aconteceu com as previsões do modelo

0.9451219512195121

In [ ]:
##A performance melhorou bastante com a seleção de atributos