In [13]:
import pandas as pd 
from apyori import apriori

In [14]:
df_market = pd.read_csv('./data/mercado.csv', header=None)
df_market

          0        1         2         3
0     leite  cerveja       pao  manteiga
1      cafe      pao  manteiga       NaN
2      cafe      pao  manteiga       NaN
3     leite     cafe       pao  manteiga
4   cerveja      NaN       NaN       NaN
5  manteiga      NaN       NaN       NaN
6       pao      NaN       NaN       NaN
7    feijao      NaN       NaN       NaN
8     arroz   feijao       NaN       NaN
9     arroz      NaN       NaN       NaN

In [24]:
df_market.dtypes

0    object
1    object
2    object
3    object
dtype: object

### Transformando DF para list 
para usar a lib Apriori

In [25]:
transactions = []
for i in range(len(df_market)):
    transactions.append([str(df_market.values[i, j]) for j in range(df_market.shape[1])])
#transformando em str para evitar problemas com NaN(que são considerados floats)

In [26]:
transactions

[['leite', 'cerveja', 'pao', 'manteiga'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['cafe', 'pao', 'manteiga', 'nan'],
 ['leite', 'cafe', 'pao', 'manteiga'],
 ['cerveja', 'nan', 'nan', 'nan'],
 ['manteiga', 'nan', 'nan', 'nan'],
 ['pao', 'nan', 'nan', 'nan'],
 ['feijao', 'nan', 'nan', 'nan'],
 ['arroz', 'feijao', 'nan', 'nan'],
 ['arroz', 'nan', 'nan', 'nan']]

In [32]:
rules = apriori(transactions, min_support=0.3, min_confidence=0.8, min_lift=2) #suporte, confiança, lift
results = list(rules)

In [33]:
results

[RelationRecord(items=frozenset({'cafe', 'manteiga'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)]),
 RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])]

In [34]:
len(results)

3

In [35]:
results[2]

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

RelationRecord(items=frozenset({'cafe', 'manteiga', 'pao'}), support=0.3, ordered_statistics=[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5), OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0), OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)])

### Acessando as regras

In [39]:
r = results[2][2]
r
#se compra café, então compra manteiga e pãoab
#....

[OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5),
 OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0),
 OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)]

In [40]:
A = []
B = []
support = []
confidence = []
lift = []

In [47]:
for result in results:
    s = result[1]

    result_rules = result[2]
    for result_rule in result_rules:
        print(result_rule)
        a = list(result_rule[0])
        b = list(result_rule[1])
        s = result_rule[2]
        l = result_rule[3]
        print(a, ' - ', b, ' - ', s, ' - ', l)

        A.append(a)
        B.append(b)
        support.append(s)
        lift.append(l)

OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)
['cafe']  -  ['manteiga']  -  1.0  -  2.0
OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)
['cafe']  -  ['pao']  -  1.0  -  2.0
OrderedStatistic(items_base=frozenset({'cafe'}), items_add=frozenset({'manteiga', 'pao'}), confidence=1.0, lift=2.5)
['cafe']  -  ['manteiga', 'pao']  -  1.0  -  2.5
OrderedStatistic(items_base=frozenset({'cafe', 'manteiga'}), items_add=frozenset({'pao'}), confidence=1.0, lift=2.0)
['cafe', 'manteiga']  -  ['pao']  -  1.0  -  2.0
OrderedStatistic(items_base=frozenset({'cafe', 'pao'}), items_add=frozenset({'manteiga'}), confidence=1.0, lift=2.0)
['cafe', 'pao']  -  ['manteiga']  -  1.0  -  2.0

In [48]:
A

[['cafe'], ['cafe'], ['cafe'], ['cafe', 'manteiga'], ['cafe', 'pao']]

In [49]:
B

[['manteiga'], ['pao'], ['manteiga', 'pao'], ['pao'], ['manteiga']]

In [50]:
support

[1.0, 1.0, 1.0, 1.0, 1.0]

In [51]:
lift

[2.0, 2.0, 2.5, 2.0, 2.0]

### Transformando em um df

In [52]:
rules_df = pd.DataFrame({'A': A, 'B': B, 'Support': support, 'Lift': lift})

In [56]:
rules_df.sort_values(by='Lift', ascending=False)

                  A                B  Support  Lift
2            [cafe]  [manteiga, pao]      1.0   2.5
0            [cafe]       [manteiga]      1.0   2.0
1            [cafe]            [pao]      1.0   2.0
3  [cafe, manteiga]            [pao]      1.0   2.0
4       [cafe, pao]       [manteiga]      1.0   2.0